<div class="flex-container">
    <% @services.each do |service| %>
        <div class="card-trip">
          <img src="https://i.picsum.photos/id/1042/500/200.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to service.name, service_path(service) %></h2>
              <p><%=service.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= service.price %></h2>
          </div>
        </div>
    <% end %>
</div>
