

.d-block {
    display: block !important;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color:#fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  position: absolute;
}
